* {
    margin: 0;
    padding: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 16px;
  }
  
  main {
    margin: 0 auto;
    max-width: 1500px;
    padding: 20px;
 }

  h2{
    padding-left: 5px;
    font-size: 22px;
    margin-bottom: 16px;
    word-wrap: break-word;
}
  .cards{
    display: flex;
    background: #eee;
    justify-content: space-around;
    flex-flow: row wrap;

   
}

  .card{
    margin-bottom: 10px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #aaa;
    border-radius: 5px;
    max-width: 470px;
    max-height: 300px;
}

  .card__elements{
  margin-left: 5px;
  display: flex;
  flex-direction: row;
 
}
  .card__text{
   margin-right: 5px;
   overflow-y: auto;
   overflow-x: hidden;
   
}
  .card > ul{
    margin-right: 16px;
    margin-top: auto;
    padding: 5px;
    list-style: none;
    font-weight: bold;
    color: #333;
}

  li{
    display: inline-flex;
    align-content: flex-end;
    word-wrap: break-word;
}


 .image>img{
    max-height: 100px;
    margin-right: 5px;
}